div.hiddeninput
  form
    .form-group
      label Estimated Time to Complete Task (Minutes ex. 30)
      input.form-control(type='number', name='estimate', id='estimate')
      label Confirm Estimate
      input.form-control(type='number', name='confirmEstimate', id='confirm')
    button.btn.btn-warning.btn-lg(type='submit', id='submit') Submit Estimate