footer
  div#footercontent
    span New feature requests? &nbsp
    a(href='mailto:matt.oconnor217@gmail.com?subject=Time Tracker: [YOUR SUBJECT]') Contact Here
    span.divider |
    span Want to contribute? &nbsp
    a(href='https://github.com/mattroconnor/time-tracker') View on Github
    span.divider |
    span Avid user? &nbsp
    a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=2N9YV9LQJUMRJ&lc=US&item_name=Support%20Time%20Tracker%27s%20upkeep%20costs&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted') Donate
    p © 2016 &nbsp
      a(href='http://www.mattroconnor.com/') Matt R O'Connor