extends layout.jade
block content
  div.row
    div.col-xs-6.col-xs-offset-3
      h4 The Future of Task Management
    div.col-xs-6.col-xs-offset-3
        p What is Time Hacker?
        p.nobreak Time Hacker is a plugin for task management solutions such as Trello and Todoist.
        p Time Hacker helps you improve your time estimation abilities and keep track of the demands on your time.
    div.col-xs-6.col-xs-offset-3
      div.col-xs-8
        form.center(action='/auth/todoist', method='get')
          button.btn.btn-warning.outline.btn-lg(type='submit') Link to Todoist
      div.col-xs-8
        form.center(action='/auth/trello', method='get')
          button.btn.btn-primary.outline.btn-lg(type='submit') Link to Trello &nbsp<br>(Coming Soon)&nbsp&nbsp