extends layout.jade
block content
  div.row
    div.top
      div.col-xs-8.col-xs-offset-2
        h1
          a(href='/') Time Tracker
        h4 Time Is Limited. Not Your Tasks.
    div.col-xs-8.col-xs-offset-2
        p What is Time Tracker?
        p.nobreak Time Tracker is a completely free to use, open source extension for task management solutions such as Trello and Todoist.
        p Why use Time Tracker?
        p Time Tracker helps you visualize where you are spending your time, and helps you track and improve your ability to estimate how long work will take to complete.
    form.center(action='/auth/todoist', method='get')
      button.btn.btn-warning.outline.btn-lg(type='submit') Link to Your Todoist
    form.center(action='/auth/trello', method='get')
      button.btn.btn-primary.outline.btn-lg(type='submit') Link to Your Trello &nbsp