doctype html
html
  head
    title Passport login
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
  body
    p Success!!!!!!
    p Your access code is #{user.todoist.access_token}