extends layout.jade
block content
  nav.navbar-custom
    span Welcome, #{user.full_name}
    a(href='/todoist') Main
    a(href='/todoistanalyze') Analyze
  p CREATE A BAR CHART WHERE EACH BAR IS A PROJECT, AND EACH PROJECT VALUE IS RATIO OF REALIZED TIME TO ESTIMATED IN THAT PROJECT, ALSO INCLUDE A TOTAL PROJECT