extends layout.jade
block content
  div.top
    h1
      a(href='/') Time Tracker
    nav.navbar-custom
      span Welcome, #{user.full_name}
      a(href='/todoist') Work
      a(href='/todoistanalyze') Analyze
  div.row
    //- Handles all the clock related scripting
    include timer.jade

    div.selector
      //- Handles task input of estimate to complete
      include estimate.jade

      p#labelArea
        a(href='/todoist') Projects
      div#projects.col-xs-12

  //- Script to get projects and upon click of projects, get tasks
  script.
    window.isTrello = false;
    var projectsArray = [];
    var eachProjectItem = [];
    var $projectArea = $('#projects')

    $.ajax({
      url: '/api/todoist/projects',
      method: 'GET',
      success: function (res) {
        var projectList = res;
        $('#projects').empty();

        for (i=0; i < projectList.length; i++){
          eachProjectItem = [projectList[i].name,projectList[i].id];
          projectsArray.push(eachProjectItem);
          var $newProject = $('<div class="col-xs-4 project">'+projectList[i].name+'</div>');
          $projectArea.append($newProject);
        }
      },
      error: function (res) {
        console.log('error')
      }
    });

    $('#projects').one('click','.project',function(e){
      window.projectName = $(this).html();
      for (i=0; i < projectsArray.length; i++){
        if(projectName == projectsArray[i][0]){
          var projectID = projectsArray[i][1];
          break
        }
      }

      var $newLabel = $('<span id="taskLabel"> >> '+projectName+'</span>');
      $('#labelArea').append($newLabel);


      //now have projectID, need to return tasks and find all which have a projectID matching the ID
      $.ajax({
        url: '/api/todoist/tasks',
        method: 'GET',
        success: function (res) {
          //return tasks, find project id in projectsArray based on
          window.taskList = res;
          $projectArea.empty();

          for (i=0; i < taskList.length; i++){
            if (taskList[i].project_id === projectID){
              var $newTask = $('<div class="task">'+taskList[i].content+'</div>');
              $projectArea.append($newTask);
            }
          }
        },
        error: function (res) {
          console.log('error')
        }
      });
    });