extends layout.jade
block content
  div.top
    h1
      a(href='/') Time Tracker
    nav.navbar-custom
      span Welcome, #{user.full_name}
      a(href='/todoist') Work
      a(href='/todoistanalyze') Analyze
  include chart.jade