extends layout.jade
block content
  div.top
    h1
      a(href='/') Time Tracker
    nav.navbar-custom
      span Welcome, #{user.full_name}
      a(href='/trello') Work
      a(href='/trelloanalyze') Analyze
  include chart.jade